<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div>
        <p>{{msg}}</p>

        <form action="/login">
          <input type="text" id="username" name="username" placeholder="username.."><br><br>
          <input type="password" id="'password" name="password" placeholder="password">
          <br><br>
          <button type="submit">Login</button>
        </form>
        <h2>Don't have an account?</h2><a href="/register">Sign up here</a>
    </div>
</body>
</html>


