<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <form> 
    <p>{{msg}}</p>

        <form action="/login">
          <input type="text" id="username" name="username" placeholder="Enter username..">
          <br><br>
          <input type="password" id="'password" name="password" placeholder="Enter password">
          <br><br>
          <input type="email" id="email" placeholder="Enter email"><br><br>
          <button type="submit">Register</button>
          <br><br>
    </form>

    <h2>Already have an account?</h2> <a href="/">Sign in here</a>
</body>
</html>